<form action='/tasks' method='post'>
  <input type="text" name="task[name]" class="form-control task-add" placeholder="Add a task" autofocus />
</form>

<div class="btn-group btn-group-toggle mt-3 mb-3 task-filter">
  <a class="btn btn-secondary <%= show_active(@filter, 'all') %>" href="/tasks/all" role="button">All</a>
  <a class="btn btn-secondary <%= show_active(@filter, 'active') %>" href="/tasks/active" role="button">Active</a>
  <a class="btn btn-secondary <%= show_active(@filter, 'completed') %>" href="/tasks/completed" role="button">Completed</a>
</div>

<% unless @tasks.empty? %>
  <div>
    <ul class="list-group list-group-flush">
      <% @tasks.each do |task| %>
        <li class="list-group-item task-item <%= show_completed_by(!task.completed_at.nil?, filter) %>">
          <span class="task-name" data-value="<%= task.id %>"> <%= task.name %> </span>

          <button type="button" class="close task-item-delete" data-value="<%= task.id %>">
            <span aria-hidden="true">&times;</span>
          </button>
        </li>
      <% end %>
    </ul>

    <% if @filter == 'completed' %>
      <button type="button" class="btn btn-outline-danger btn-sm mt-2 task-item-delete-all">Delete All Items</button>
    <% else %>
      <div class="alert alert-dark" role="alert">
        <span class="font-weight-bold task-active-counter"><%= @active_count %></span> item/s left.
      </div>
    <% end %>
  </div>
<% end %>

<!-- Modal -->
<div class="modal fade task-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target=".task-modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This action cannot be undone. Do you want to continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary task-item-delete-confirmation">Yes</button>
      </div>
    </div>
  </div>
</div>